* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Recommended for consistent sizing calculations */
}

body {
    /* background-color: #93B1A6; */
    background-color: white ;
    /* background-color: #CEDEBD; */
    font-family: 'Rubik', sans-serif;

}

.nav-container {
    background-color: #9400e7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}



.nav-container .elements {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: whitesmoke;
    display: inline;
    cursor: pointer;
    margin: 0 12px; /* Adjusted the vertical margin to center the elements vertically */
}

.elements:hover {
    color: #e30749;
}

.nav-container .logo {
    width: 15vh;
    height: 10vh;
    margin-left: 12px;
    margin-right: auto;
    border: 2px solid #8e27c9;
    
}

/* Optional: To ensure the logo stays centered when there's more space */
@media screen and (min-width: 768px) {
    .nav-container {
        justify-content: space-between;
    }
}

/* styles.css */
.text-image-container {
    position: relative;
    max-width: 500vh; /* Adjust as needed */
    
    
}
  
  .video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 aspect ratio */
}
  
  .video {
    position: absolute;
    top: 0;
    left: 0;    
   }
  
  video {
    margin-top: 0px;
    object-fit: cover;
  }
  
  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 50px;
    text-align: left;
    color: white;
  }

  .text-container h1 {
    font-size: 4rem;
  }

  .text-container p {
    font-size: 2rem;
  }
  
.heading-section {
    display: flex;
    background-color: #461959;
    color: white;
    height: 20vh;
    justify-content: center;
    align-items: center;
    margin: 12px;
    margin-top: 20vh;
}

.text-section {
    padding: 12px;
    margin: 12px;
}

.text-section h1{ 
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 2rem;
    color: #400cfd;
}
.text-section p{ 
    font-size: 1rem;
}

.image-section {
    padding-left: 12px;
    margin: 12px;
    display: flex;
    justify-content: space-between;
}

.images-insider {
    width: 40vh;
    height: 40vh;
    border: 2px solid white;
    border-radius: 12px;
}

.text-section-images {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Add margin between images and text */
    font-style: bold;
}

.para-image {
    flex-basis: 24%; /* Adjust to fit 4 items in a row */
    text-align: center;
    margin: 0; /* Remove margin for individual paragraphs */
}

.text-section-two {
    margin-top: 62px;
    margin-left: 30px;
    padding: auto;
}

.text-section-two h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #400cfd;
}

.image-section-two {
    margin: 32px;
    display: flex;
    justify-content: space-between;
}

.images-insider-two {
    width: 40vh;
    height: 40vh;
    border: 2px solid white;
    border-radius: 12px;
}

.text-section-images-two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;/* Add margin between images and text */
    font-style: bold;
}

.para-image-two {
    flex-basis: 24%; /* Adjust to fit 4 items in a row */
    text-align: center;
    margin: 0; /* Remove margin for individual paragraphs */
}

.middle-bar {
    display: flex;
    background-color: blue;
    color: white;
    height: 80vh;
    margin-top: 50px;
}

.middle-bar-text {
    width: 80vh;
    font-size: 1.5rem;
    margin: 30px;
    padding: 30px;
}

.middle-bar-side-text {
    display: block;
    flex:1;
    margin-top: 63px;
    margin-left: 160px;
    
}

.info-video-container {

    display: flex;
    justify-content: center;
    align-items: right;
    margin-top: 63px;
    color: #400cfd;
    
    
}

 iframe {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 800px;
    height: 500px;
    margin-bottom: 50px;
}






